<app-search-section class="search-section" [coursesList]="courses" (courseFilter)="filterCourses($event)"></app-search-section>
<tui-island class="island" [hoverable]="true" *ngFor="let course of courses" [creationDate]="course.creationDate" courseBorder [ngClass]="{'top-rated':course.topRated}">
  <div class="main-block">
    <div class="upper-block">
      <div class="date-block">{{course.creationDate | date}}</div>
      <div class="course-info">
        <div class="course-name">
          <tui-line-clamp [content]="course.name | titlecase" [linesLimit]="1"></tui-line-clamp>
        </div>
        <div class="course-duration">
          <tui-badge [style.padding]="'20px'" [style.backgroundColor]="'#79818C1F'" [style.color]="'#000000'">
            {{course.duration | timeFormatPipe}}
          </tui-badge>
        </div>
        <div class="course-icon">
          <tui-icon class="iconStar" *ngIf="course.topRated" icon="tuiIconStar" [style.margin-left]="'10px'"
            [style.fill]="'yellow'"></tui-icon>
        </div>
      </div>
    </div>
    <div class="text-block">
      <tui-line-clamp [content]="course.description" [linesLimit]="4">
      </tui-line-clamp>
    </div>
  </div>
  <div class="btn-group">
    <button tuiButton appearance="secondary" class="edit-btn">
      <tui-icon icon="tuiIconEdit"></tui-icon>
      Edit
    </button>
    <button (click)="onDeleteCourse(course.id)" size="l" tuiButton appearance="secondary-destructive"
      class="delete-btn">
      <tui-icon icon="tuiIconTrash"></tui-icon>
      Delete
    </button>
  </div>
</tui-island>
<div class="no-data-wrapper" *ngIf="courses.length === 0">
  <div class="data-icon">
      <tui-avatar [rounded]="true" class="data-avatar" avatarUrl="tuiIconInfo"></tui-avatar>
  </div>
  <h2 tuiTitle class="data-title">No data</h2>
  <div tuiSubtitle class="data-subtitle">Feel free to add new course</div>
</div>
<div *ngIf="courses.length > 0" class="btn_container">
  <button tuiButton class="loadMore" appearance="secondary" (click)="onAddMore()">
    Load More
  </button>
</div>
