<div class="wrapper">
    <div class="main-block">
        <div class="upper-block">
            <div class="date-block">02.29.2018</div>
            <div class="course-info">
                <div class="course-name">Video Course 1</div>
                <div class="course-duration">
                    <tui-badge
                    style="padding: 20px;">
                        1 h 28 min
                    </tui-badge>
                </div>
                <div class="course-icon">
                    <tui-icon
                        icon="tuiIconStar"
                    ></tui-icon>
                </div>
            </div>
        </div>
        <p>Create a repository at github/bitbucket Install ng-cli: npm install -g angular/cli Use ng-cli to create initial a project Run the project by executing “ng serve” Explore a project structure Setup TS lint according to your preferences (indentation, spacing...)</p>
    </div>
    <div class="btn-group">
        <button tuiButton appearance="secondary-destructive">
            <tui-icon
            icon="tuiIconEdit"
            ></tui-icon>
            Edit
        </button>
        <button tuiButton appearance="secondary">
            <tui-icon
            icon="tuiIconTrash"
            ></tui-icon>
            Delete
        </button>
    </div>
</div>