.wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 95%;
    margin: 0 auto;
    border: 1px solid rgba(74, 201, 155, 1);
    border-radius: 18px;
    padding: 32px 24px;
    margin-bottom: 20px;
}

.wrapper .main-block {
    display: flex;
    flex-direction: column;
}


.wrapper .main-block .upper-block {
    display: flex;
    flex-direction: column;
    max-width: 254px;

}

.wrapper .main-block .upper-block .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-name {
    font-weight: bold;
    font-size: large;
}
.course-icon{
    color: var(--tui-link);
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 128px;
    height: 44px;
    line-height: 44px;
}

