<div class="main-block">
    <div class="auth-block">
        <div class="heading">
            <img src="../../assets/Coursenta.svg" alt="Coursente" class="logo">
            <h2 class="subTitle">Please enter your login information below</h2>
        </div>

        <div class="form" action="" method="post">
            <tui-input formControlName="testValue" tuiTextfieldSize="m">
                Email
                <input [(ngModel)]="email" autocomplete="email" tuiTextfield type="email" />
            </tui-input>
            <tui-input-password formControlName="testValue" class="tui-space_top-2">
                Password
                <input [(ngModel)]="password" placeholder="Make it secure!" tuiTextfield />
            </tui-input-password>
            <tui-loader  class="loader" [overlay]="true" [showLoader]="showLoader">
                <button (click)="onLogin()" type="submit" class="loginBtn" tuiButton appearance="primary">Login</button>
            </tui-loader>
        </div>
    </div>
</div>