<header>
    <div class="header_block">
        <div class="left-block">
            <img src="../../assets/logo.png" alt="">
        </div>
        <div class="right-block">
            <button tuiButton class="nickname" appearance="none">
                <tui-icon
                class="star-icon"
                icon="tuiIconStar"
                >
            </tui-icon>
                Nikolay Ivanov
            </button>
            <a href=""
            tuiLink
            routerLink=""
            >
            <tui-icon
            icon="tuiIconCheckSquareLarge"
            >
        </tui-icon>
            Log out
            </a>
        </div>
    </div>
</header>