<header>
    <div class="header_block">
<!-- width сделать 80% через max -->
        <div class="left-block">
            <img src="../../assets/logo.png" alt="">
        </div>
        <div class="right-block">
            <div class="nickname">Nikolay Ivanov</div>

        </div>
    </div>
</header>
<!-- внутри создать два блока левый и правый 
дальше просто через дислпей флех разделить их spacebetween
потом отдельно сделать то же самое для right-block
после чего сделать отступы и расположить элементы по центы
Посмотреть что из этого можно вытянуть из Тайги, кнопку например точно
выкачать обычный логотип из фигмы и дальше подбить стили для  -->