  <div class="w-11/12 flex justify-between my-0 mx-auto">
    <div class="flex">
      <tui-input (keydown.enter)="onSearch($event)" tuiHintDirection="bottom-right" class="min-w-[574px]"
      [(ngModel)]="inputValue">
      <tui-icon icon="tuiIconSearch"></tui-icon>
        Name, fragment or date
      </tui-input>
      <button class="ml-4" appearance="secondary" tuiButton (click)="onSearch()">
        Search
      </button>
    </div>
    <div>
      <button tuiButton>
        <tui-icon icon="tuiIconPlus"></tui-icon>
        Add Course
      </button>
    </div>
  </div>